
.mail-home{
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 0.8rem;
}
.categories>button{
    margin-top: 15px;
    border: none;
    display: flex;
    width: 80%;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.5rem;
    box-shadow: rgb(0 0 0) 0px 0px 16px 0px;
    background-color: rgb(240, 236, 236);
    border-radius: 50%;
    height: 40px;
    transition: 0.2s;
    content:normal;
    overflow: hidden;;
}
.categories{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    left: 0px;
    gap: 10px;
    width: 60px;
    background-color: rgb(255, 255, 255);
    height:100% ;
    transition: 0.2s;
}
.categories:hover{
    align-items:stretch;
    padding-left: 6px;
    box-shadow: 11px 0px 20px 0px #716c6c;
    width: 30vw;
}
.categories:hover>button{
    border-radius: 15px;
    width: 90%;
}
.categories:hover>button::after{
    content:"Compose";
}
.fas.fa-plus:hover:before {
    transform: rotateZ(90deg);
    color: green;
}
@media (max-width: 480px) {
    .mail-home{
        font-size: 0.7rem;
    }
  }