.profile-pic{
    height: 200px;
    width: 150px;
    background-color: rgb(47, 47, 47);
    border-radius: 50%;
}
.ethan{
    background-image: url('../../assets/img/main/Ethan_profile.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position:0px -6px;
}
.ori{
    background-image: url('../../assets/img/main/Ori_profile.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position:0px 0px;
}
.info{
    padding: 20px;
    margin: auto;
    margin-top: 20px;
    border-top: 2px gray solid;
    width: 80%;
}
.social-links{
    justify-content: center;
    gap: 10px;
}