.mail-header{
    text-align: center;
}
.mail-compose textarea{
    resize: none;
    height: 100%;
    border: none;
}
.mail-compose input{
    border: none;
    height: 30px;
    border-bottom: solid rgb(149, 149, 149) 1px;
}
.mail-compose{
    position: fixed;
    background-color: #fff;
    bottom: 0px;
    left: 20%;
    width: 60%;
    height: 40vh;
    display: flex;
    flex-direction: column;
    box-shadow:rgba(144, 153, 161, 0.822) 0px 8px 24px;
    padding-bottom: 10px;
    border-radius: 10px;
}
.mail-compose .mail-header{
    border-collapse: collapse;
    height: 2rem;
    background-color: rgb(97, 94, 94);
    padding: 5px;
    color: #fff;
}
.mail-compose .mail-header button:hover{
    cursor: pointer;
}
.mail-compose .mail-header button{
    border: none;
    background:rgba(255, 255, 255, 0);
    color: rgb(192, 192, 192);
}