.mail-preview{
    margin-right: 5px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 4px;
    background-color: rgb(216, 216, 216);
    padding-left: 4px;
    padding-right: 4px;
}
.mail-preview:hover{
    box-shadow: inset rgba(149, 157, 165, 0.2) 0px 8px 24px;;
    cursor: pointer;
}
.mail-preview a{
    width: 100%;
}
.mail-preview span:not(.date){
    width: 20%;
    text-align: left;
    overflow: hidden;
    margin-left: 10px;
    white-space: nowrap;
}
.mail-preview span.date{
    white-space: nowrap;
    overflow: hidden;
    text-align: right;
    padding-right: 2px;
}
.mail-preview .fas.fa-star{
    margin-left: 10px;

}
.mail-preview .fas.fa-star::before{
    font-size: 1rem;
}
.mail-preview .fas.fa-star:hover::before{
    cursor: pointer;
}
.mail-preview .fas.fa-star.none:hover::before{
    -webkit-text-stroke-color:#1e1f24 ;
    -webkit-text-stroke-width:2px ;
}
.fas.fa-star.none::before{
    color: #00000000;
    -webkit-text-stroke-color:#555762 ;
    -webkit-text-stroke-width:1px ;
}
.fas.fa-star.starred::before{
    color: rgb(204, 204, 76);
}
.mail-unread{
    font-weight: bolder;
    background-color: #fff;
}


