.mail-preview{
    border-collapse: collapse;
    margin-right: 5px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    margin-left: 5px;
    transition: box-shadow 0.7s;
}
.mail-preview:hover{
    box-shadow: inset rgba(149, 157, 165, 0.2) 0px 8px 24px;;
    cursor: pointer;
}
.mail-preview a{
    width: 100%;
}
.mail-preview p:last-child{
    text-align: right;
}
.mail-preview p{
    flex-grow: 1;
    text-align: left;
    overflow: hidden;
}
.mail-preview .fas.fa-star:hover::before{
    cursor: pointer;
}
.mail-preview .fas.fa-star:hover::before{
    -webkit-text-stroke-color:#1e1f24 ;
    -webkit-text-stroke-width:2px ;
}
.fas.fa-star.none::before{
    color: #00000000;
    -webkit-text-stroke-color:#555762 ;
    -webkit-text-stroke-width:1px ;
}
.fas.fa-star.starred::before{
    color: rgb(204, 204, 76);
}


