@font-face {
    font-family: Brands;
    src: url(../../assets/fonts/brands-fab.otf);
}
@font-face {
    font-family: Poppins;
    src: url(../../assets/fonts/Poppins-ExtraBold.ttf);
}
.fab::before {
    font-family: Brands;
    font-style: normal;
    font-size: 2.5rem;
}
.fab.fa-firstdraft::before{
    font-size: 1.5rem;
    content: "\f3a1";
    color: #555762;
}

.fab.fa-facebook::before {
    content: "\f082";
    color: #4C6EF5;
}

.fab.fa-linkedin::before {
    content: "\f08c";
    color: #0A63BC;
}

.fab.fa-github::before {
    content: "\f092";
    color: #BE4BDB;
}



@font-face {
    font-family: icons;
    src: url(../../assets/fonts/icon-fas.ttf);
}

.fas::before {
    font-family: icons;
    font-style: normal;
    font-size: 1.5rem;
}
.fas.fa-star::before {
    content: "\f005";
    color: #555762;
}
.fas.fa-envelope::before {
    content: "\f0e0";
    color: #555762;
}
.fas.fa-inbox::before {
    content: "\f01c";
    color: #555762;
}
.fas.fa-share-square::before {
    content: "\f14d";
    color: #555762;
}
.fas.fa-plus::before {
    content: "\f067";
    color: #3251ff;
    transition: 1s;
}
.fas.fa-trash::before {
    content: "\f1f8";
    color: #555762;
}
.fas.fas.fa-envelope-open::before {
    content: "\f2b6";
    color: #00000000;
    -webkit-text-stroke-color:#555762 ;
    -webkit-text-stroke-width:1.5px ;
}

