@font-face {
    font-family: Brands;
    src: url(../../assets/fonts/brands-fab.otf);
}
.fab::before {
    font-family: Brands;
    font-style: normal;
    font-size: 1.5rem;
}
.fab.fa-firstdraft::before{
    content: "\f3a1";
    color: #555762;
}

.fab.fa-facebook::before {
    content: "\f082";
    color: #4C6EF5;
}



@font-face {
    font-family: icons;
    src: url(../../assets/fonts/icon-fas.ttf);
}

.fas::before {
    font-family: icons;
    font-style: normal;
    font-size: 1.5rem;
}
.fas.fa-star::before {
    content: "\f005";
    color: #555762;
    transition:color 0.5s;
}
.fas.fa-envelope::before {
    content: "\f0e0";
    color: #555762;
}
.fas.fa-inbox::before {
    content: "\f01c";
    color: #555762;
}
.fas.fa-share-square::before {
    content: "\f14d";
    color: #555762;
}
.fas.fa-plus::before {
    content: "\f067";
    color: #555762;
}

