input,
p {
  padding: 0;
  margin : 0;
}

.note-list {
  gap      : 15px;
  flex-wrap: wrap;
}

.note {
  width        : 280px;
  /* align-self: flex-start */
}

.note-txt {
  padding: 0.7rem 0.7rem;
}



.note-txt {
  display: flex;
  gap    : 1rem;
}

.note-img {
  gap    : 10px;
  padding: 0;

}

.note-img img {
  width: 100%;
}

.col>:not(:last-child) {
  margin-bottom: 20px;
}