.note-list {
  gap      : 15px;
  flex-wrap: wrap;
}

.note {
  width     : 280px;
  align-self: flex-start
}

.note-txt,
.note-todos {
  padding: 0.7rem 0.7rem 1rem;
}

.note-img {
  gap    : 10px;
  padding: 0;

}

.note-img img {
  width: 100%;
}

.done {
  text-decoration: line-through;
}

.video-container {
  height: 140.625px;

}

.video-container iframe {
  width : 100%;
  height: 100%;
}





.note-app-main {
  margin   : 20px auto;
  max-width: 1200px;
  gap      : 15px
}





.note-txt-btn::before {
  font-family: icons;
  content    : '\f031';
}

.note-todos-btn::before {
  font-family: icons;
  content    : '\f03a';
}

.note-img-btn::before {
  font-family: icons;
  content    : '\f03e';
}

.note-video-btn::before {
  font-family: icons;
  content    : '\f04b';
}

.palette-container {
  position: relative;
}

.palette-container input {
  width     : 1px;
  height    : 1px;
  visibility: hidden;
}

.palette::before {
  font-family: icons;
  content    : '\f53f';
}