.note-app-main {
  margin   : 20px auto;
  max-width: 1200px;
  gap      : 15px
}





.note-txt-btn::before {
  font-family: icons;
  content    : '\f031';
}

.note-todos-btn::before {
  font-family: icons;
  content    : '\f03a';
}

.note-img-btn::before {
  font-family: icons;
  content    : '\f03e';
}

.note-video-btn::before {
  font-family: icons;
  content    : '\f04b';
}