.delete-todo-btn:hover {
  background-color: #666;
  color           : #f4f4f4
}

.todo-checkbox,
.new-todo-label {
  display     : inline-block;
  margin-right: 0.6rem;
}

.todo.done {
  text-decoration: line-through;
}

.new-todo-input,
.todo,
.todo.done {
  background-color: transparent;
  padding         : 2px;
  border          : 0;
}

.new-todo-input {
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.new-todo-input::placeholder {
  color: black
}

.todo-list {
  gap: 3px;
}