.palette,
.palette-container {
  display : none;
  position: absolute;
  top     : -30px
}


.palette-icon:hover .palette-container {
  display: flex;

  /* visibility: visible; */
}

/* .palette-container input {
  width     : 1px;
  height    : 1px;
  visibility: hidden;
} */

.palette-option {
  width : 30px;
  height: 30px;

}